/*---------------------------Navigation --*/
.navbar {
    padding: 0.8rem;
    font-size: 1.2em;
    font-weight: 500;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}

/*----------------------- Image Slider --*/

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    color: black;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
}
.carousel-caption h1 {
    font-size: 400%;
    text-shadow: 1px 1px 15px #000;
    font-weight: 700;
}
.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    padding-bottom: 30px;
    text-shadow: 1px 1px 15px #000;
}
.btn-primary {
    background-color: #b443ff;
    border: 1px solid #b443ff;
}
.btn-primary:hover {
    background-color: #570091;
    border: 1px solid #570091;
}